
@{
    ViewBag.Title = "NotFound";
}

<h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">Not Found</h2>

@{
    ViewBag.Title = "NotFound";
}

<div style="background-color: #A52A2A; color: white; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: orange; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            The data is not found:
        </h3>
        <h4>
            Sorry, The Record, You are Looking for is not found.
        </h4>
        <h6>@Html.ActionLink("Go Back To Home Page", "CategoryList", "Category")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>  